<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="save()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Title</ion-label>
        <ion-input [(ngModel)]="article.title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Content</ion-label>
        <ion-input [(ngModel)]="article.content"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Hastags</ion-label>
        <ion-input [(ngModel)]="article.hashtags"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row  class="ion-justify-content-center">
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <ion-button expand="block" color="primary" (click)="save()">Crea articolo</ion-button>  
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>