<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="save()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label position="floating">First Name</ion-label>
    <ion-input [(ngModel)]="me.firstname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Last Name</ion-label>
    <ion-input [(ngModel)]="me.lastname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="me.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Username</ion-label>
    <ion-input [(ngModel)]="me.username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Gender</ion-label>
    <ion-input [(ngModel)]="me.gender"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Birth Date</ion-label>
    <ion-input [(ngModel)]="me.birth_date"></ion-input>
  </ion-item>
</ion-content>