<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dettagli Articolo</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dettagli Articolo</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <ion-chip outline="true" *ngFor="let tag of article.hashtagsArray">
          <ion-label color="primary">{{tag}}</ion-label>
        </ion-chip>
      </ion-card-subtitle>
      <ion-card-title>{{article.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        {{article.content}}
      </ion-text>
    </ion-card-content>
    <ion-item *ngIf="logged">
      <ion-button fill="solid" color = "secondary" (click)="showEditArticle(article)">Edit</ion-button>
    </ion-item>
  </ion-card>
  <ion-card *ngIf="logged">
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Write a comment</ion-label>
        <ion-input [(ngModel)]="newComment"></ion-input>
      </ion-item>
      <ion-button (click)="writeComment(article._id)" expand="block">Invia</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="article.comments?.length">
    <ion-card-content>
      <ion-item *ngFor="let comment of article.comments; let i = index">
        <ion-label class="ion-text-wrap">
          <ion-text color="primary">
            <h3> {{ commentsName[i] }} - {{ comment.created_at | date: 'dd/MM/yyyy HH:mm' }}</h3>
          </ion-text>
          <p>{{ comment.text }}</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>