<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{user.username}}</ion-card-title>
      <ion-card-subtitle>{{user.lastseen}}</ion-card-subtitle>
    </ion-card-header>
    <ion-item slod="end" *ngIf="isMyProfile">
      <ion-button fill="solid" color = "secondary" (click)="showEditModal()">Edit</ion-button>
      <ion-button fill="solid" color ="danger" (click)="delete()">Delete</ion-button>
      <ion-button fill="solid" slot="end" color = "warning" (click)="logout()">Logout</ion-button>
      
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item *ngIf="user.firstname">
      <ion-icon name="person" slot="start"></ion-icon>
      <ion-label>{{user.firstname}} {{user.lastname}} </ion-label>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>{{user.email}}</ion-label>
    </ion-item>

    <ion-item *ngIf="user.gender">
      <ion-icon name="transgender" slot="start"></ion-icon>
      <ion-label>{{user.gender}}</ion-label>
    </ion-item>

    <ion-item class="ion-activated" *ngIf="user.birth_date">
      <ion-icon name="calendar" slot="start"></ion-icon>
      <ion-label>{{user.birth_date}}</ion-label>
    </ion-item>
  </ion-card>
  <ion-card *ngIf="isMyProfile">
    <ion-item>
      <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
      <ion-label>Change Password</ion-label>
      <ion-buttons slot="end">
        <ion-button color="dark" (click)="showPasswordModal()">
          <ion-icon name="arrow-forward-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="receipt" slot="start"></ion-icon>
      <ion-label>Comments</ion-label>
      <ion-button fill="outline" slot="end" (click)="showCommentsModal()">View</ion-button>
    </ion-item>
  </ion-card>

</ion-content>