<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Articles</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-searchbar animated showCancelButton="always" placeholder="Search Article" [value]="searchStr" (ionInput)="filterList($event)" (ionCancel)="resetSearch($event)"></ion-searchbar>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-up-circle" *ngIf="!newest" (click)="changeOrder()"></ion-icon>
      <ion-icon name="arrow-down-circle" *ngIf="newest" (click)="changeOrder()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" size-lg="5" size-xs="12">
        <ion-button *ngIf="logged" expand="block" color="primary" (click)="showArticleModal()">Crea un nuovo articolo
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card button=true *ngFor="let article of articles; let i = index " >
    <ion-card-header>
      <ion-card-subtitle>
        <ion-chip outline="true" *ngFor="let tag of article.hashtags.split(' ')">
          <ion-label color="primary" (click)="searchHash($event)">{{tag}}</ion-label>
        </ion-chip >
      </ion-card-subtitle>
      <ion-card-title (click)="clicked(i, article._id)">{{article.title}}</ion-card-title>
    </ion-card-header>

    <ion-card-content [hidden]="hideme[i]" (click)="clicked(i, article._id)">{{article.content}}</ion-card-content>
  </ion-card>
</ion-content>