ion-grid {
    width:70%;
}

ion-col {
    border: 1px solid #488aff;
}

@media (min-width: 240px) and (max-width: 768px) {
    ion-grid {
		width: 100%;
    }
    ion-col {
        border: none;
	}
	ion-row {
        height:100%
    }
}