<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" size-lg="5" size-xs="12">
        
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" [(ngModel)]="loginUser.email"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input minlength="8" maxlength="64" type="password" [(ngModel)]="loginUser.password"></ion-input>
          </ion-item>

          <ion-button expand="block" (click)="login()" color="medium">Login</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>



