<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Comments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item *ngFor="let comment of comments">
  
    <ion-label class="ion-text-wrap">
      <ion-text color="primary">
        <h3>{{ comment.comments.created_at | date: 'dd/MM/yyyy HH:mm'}}</h3>
      </ion-text>
      <p>{{ comment.comments.text }}</p>
    </ion-label>
  
  </ion-item>

</ion-content>
