<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sundial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row  class="ion-justify-content-center">
      <ion-col size-md="6" size-lg="5" size-xs="12">

        <ion-button [routerLink]="['/signup']" expand="block" color="primary">Sign up</ion-button>
        <ion-button [routerLink]="['/login']" expand="block" color="medium">Log in</ion-button>

        <ion-item-divider></ion-item-divider>

        <div class="ion-text-center" [routerLink]="['/']">
          Continue without account
        </div>


      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>