<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="primary" (click)="save()">
        Save
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">New Password</ion-label>
    <ion-input minlength="8" maxlength="64" type="password" [(ngModel)]="newPassword"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Confirm password</ion-label>
    <ion-input minlength="8" maxlength="64" type="password" [(ngModel)]="confirmedPassword"></ion-input>
  </ion-item>
</ion-content>
